
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
body{
        font-family: 'Montserrat', sans-serif;
        margin: 0px auto;
        width: 100%;
        background-color: #FCF6F5;
    
}
.header{
    /* background-color: #990011;
    color:white; */
    height: 5.5rem;
    display: flex;
    align-items: center;
    border-bottom-left-radius: 1rem;

    background: linear-gradient(0deg,#e93f33 0,#f09038 70%);
    background-color: rgba(0, 0, 0, 0);
    background-position-x: 0%;
    background-position-y: 0%;
    background-repeat: repeat;
    background-attachment: scroll;
    background-image: linear-gradient(0deg, rgb(233, 63, 51) 0px, rgb(240, 144, 56) 70%);
    background-size: auto;
    background-origin: padding-box;
    background-clip: border-box;
  color: #fff;
  font-weight: 600;
  line-height: 20px;
  border-radius: 0 0 0 15px;
  text-shadow: 0 2px 2px #bf0d00;
    
}
#logo{
    width: 70px;
    height: 70px;
    padding: 5px;
}

.list-non-bullet{
    list-style: none;
}

.list-item-inline{
    display: inline;
    padding: 0rem 0.5rem;
}
.link{
   text-decoration: none;
   color: rgb(0, 0, 0);
   background-color:#FCF6F5;
   border-radius: 1rem;
   padding: 0.5rem;
   text-shadow: 0 2px 2px #ffffff;


}

.page{
    margin-top: 10rem;
    height: 37rem;
    
}
.page h1{
    display:flex;
    justify-content: center;
    color: #990011;
    
}
#searchbar{
    display: flex;
    justify-content: center;
}
#searchinput{
    border: 2px solid #FFBE7B;
    border-radius: 10px;
    width: 500px;
    height: 50px;
    
}
#search{
    border: 2px solid #FFBE7B;
    border-radius: 10px;
    background-color: white;
    width: 50px;
    height: 57px;
    margin-left: 10px;
    
}
#searchicon{
    width: 35px;
    height: 35px;
}

.offers{
    border: 2px solid #3BB103;
    background-color: #51ff007e;
    border-radius: 10px;
    width: 500px;
    height: 30px;
    margin: auto;
    margin-top:20px ;
    color: #339e01;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

#searchinput[type="text"]
{  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: italic;
    font-size:24px;
}

.footer{
    /* background-color: #990011;
    color: white; */
    height: 5.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
    border-top-right-radius: 1rem;

    background: linear-gradient(0deg,#e93f33 0,#f09038 70%);
    background-color: rgba(0, 0, 0, 0);
    background-position-x: 0%;
    background-position-y: 0%;
    background-repeat: repeat;
    background-attachment: scroll;
    background-image: linear-gradient(0deg, rgb(233, 63, 51) 0px, rgb(240, 144, 56) 70%);
    background-size: auto;
    background-origin: padding-box;
    background-clip: border-box;
  color: #fff;
  font-weight: 600;
  line-height: 20px;
  border-radius: 0 0 0 15px;
  text-shadow: 0 2px 2px #bf0d00;

}